<div class="d-flex sticky-top align-items-center bg-glass">
    <div class="p-4 flex-grow-1">
        <h1><a class="text-reset text-decoration-none" [routerLink]="'/home'">Algonaut</a></h1>
    </div>
    <div class="p-4">
        <button class="btn btn-astro">Algorithms</button>
    </div>
    <div class="p-4">
        <button class="btn btn-astro" (click)="toggleTheme()">
            <i class="bi bi-brightness-high"></i>
        </button>
    </div>
    <div class="p-4">
        <button class="btn btn-astro">
            <i class="bi bi-person-circle"></i>
        </button>
    </div>
</div>