<div class="container-fluid d-flex p-0">
    <div class="col">
        <!-- Header -->
        <app-header></app-header>

        <!-- Invite -->
        <div class="d-flex heroContainer">
            <div class="d-flex flex-column align-content-stretch justify-content-center align-items-start p-4">
                <h1>Constellations of Progress</h1>
                <p>
                    Keep track of your learning journey with our intuitive progress
                    tracking system. Achieve milestones and illuminate your path to
                    mastery.
                </p>
                <button class="btn btn-light">Start Learning</button>
            </div>
            <div class="d-flex flex-column col-0 col-md-6"></div>
        </div>

        <!-- AOD -->
        <div class="d-flex flex-column m-4 aodContainer p-2">
            <h1 class="text-center">Algorithm of the day</h1>
            <div class="d-flex flex-column flex-md-row">
                <div class="d-flex flex-column col-md-6 justify-content-center align-items-center aodContainer p-2 text-center">
                    <h2 >Linear Search</h2>
                    <p class="p-5">
                        Linear Search, also known as sequential search, is one of the most straightforward and
                        fundamental
                        searching techniques in computer science. It's like flipping through the pages of a book one by
                        one
                        until you find the information you're looking for.
                        Want to learn more? Click the button below and begin your exploration of Linear Search. It's a
                        great
                        way to dip your toes into the fascinating realm of algorithms. Let's get started!
                    </p>
                    <button class="btn btn-light w-25">Start Learning</button>
                </div>
                <div class="d-flex flex-column col-md-6 p-4 justify-content-center align-items-center">
                    <img src="/assets/images/search.png" alt="Search Image" class="img-fluid align-self-center">
                    <p class="text-center">
                        Image by <a
                            href="https://www.freepik.com/free-vector/data-driven-concept-illustration_29765877.htm#query=linear%20search&position=5&from_view=search&track=ais">Freepik</a>
                    </p>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <app-footer></app-footer>
    </div>
</div>