<div class="container-fluid d-flex p-0">
    <div class="col">
        <!-- Header -->
        <app-header></app-header>

        <div class="d-flex flex-column justify-content-center align-items-center">
            <img src="assets/images/404.png" alt="404" class="img-fluid">
            <a href="https://www.freepik.com/free-vector/page-found-concept-illustration_7887410.htm#query=404&position=3&from_view=search&track=sph">Image by storyset</a> on Freepik
            <button class="btn btn-primary" [routerLink]="'/home'"> Go Home </button>
        </div>

        <!-- Footer -->
        <app-footer></app-footer>
    </div>
</div>